############################################

APP_NAME=FastAPI Template

############################################

ENVIRONMENT=development

DEBUG=true

############################################

SECRET_KEY=CHANGE_ME

############################################

DATABASE_URL=postgresql+asyncpg://fastapi_user:fastapi_password@postgres-server:5432/fastapi_db

############################################

REDIS_URL=redis://:redispassword@redis-server:6379/0

############################################

JWT_ALGORITHM=HS256

ACCESS_TOKEN_EXPIRE_MINUTES=30

############################################

LOG_LEVEL=INFO