# Bytecode

__pycache__/

*.py[cod]

*$py.class

############################################

# Virtual Environment

.venv/

############################################

# Environment

.env

############################################

# IDE

.vscode/

.idea/

############################################

# pytest

.pytest_cache/

.coverage

htmlcov/

############################################

# Ruff

.ruff_cache/

############################################

# mypy

.mypy_cache/

############################################

# Mac

.DS_Store

############################################

# Logs

*.log

############################################

# Database

*.sqlite3

############################################

# Misc

.cache/